.content2{
    display: flex !important;
    justify-content:space-between;
    text-align: center;
    margin-top: 40px;
}
.logo1{
    width: 450px;
    height: 400px !important;
}
.p1{
    color:white;
    background-color: black ;
    padding: 22px;
   
}